server: 
  port: 8080
  servlet:
    encoding:
      charset: utf-8
      force: true
      
spring:
  mvc:
    view:
      prefix: /WEB-INF/view/
      suffix: .jsp
  datasource:
    url: jdbc:mysql://localhost:3306/ADayOfLearning?serverTimeZone=Asia/Seoul&allowMultiQueries=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: asd1234
    
  mail:
    host: smtp.gmail.com # 1
    port: 587 # 2
    username: tlswodn205 # 3
    password: rfsh vyif tiuh zkqj
    properties:
      mail:
        smtp:
          auth: true # 5
          timeout: 5000 # 6
          starttls:
            enable: true # 7
            
  servlet:
    multipart:
      maxFileSize: 50MB
    
mybatis:
  mapper-locations:
  - classpath:mapper/**.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl 
    
# 초기 파라미터 설정    
tenco:
  key: 85135F3C6BFE9DF1735F8806F045AE73CECE7219F7840D8E7E9297A7F846B48A

logging:
  level:
    '[org.mybatis]': DEBUG
    