html, body {
	height: 100%;
}

#cancelRequest {
	margin-bottom: 70px;
}

#cancelRequest .title {
	text-align: center;
}

#cancelRequest {
	width: 1200px;
}

#cancelRequest .content {
	width: 600px;
	margin: 0 auto;
	padding: 10px 30px 30px;
	border: 1px solid #d3d3d3;
}

#cancelRequest .line {
	border-bottom: 1px solid #d3d3d3;
}

#cancelRequest .contentInfo {
	text-align: center;
	color: indianred;
}

#cancelRequest .sectionBox {
	padding: 24px 0;
}

#cancelRequest .sectionBox-area {
	display: flex;
}

#cancelRequest .imgContainer {
	width: 120px;
	height: 120px;
	margin-right: 30px;
}
#cancelRequest .imgContainer img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

#cancelRequest .sectionBox .row {
	display: flex;
	justify-content: space-between;
}

#cancelRequest .refundInfo {
	width: 530px;
	height: 50px;
	vertical-align: top;
	text-align: left;
}

/*======================= 취소 요청 버튼 =======================*/

#cancelRequest .refundBtn {
	background-color: #f5d042;
	border-color: #f5d042;
	display: block;
	margin: 30px auto 0;
	width: 50%;
	padding: 15px;
	text-align: center;
	font-size: 15px;
	border-radius: 13px;
}

#cancelRequest .refundBtn:hover {
	transform: scale(1.1);
}

#cancelRequest .refundBtn:after {
	content: '';
	position: absolute;
	top: calc(50% - 25px);
	left: 0;
	/* left 값을 0으로 변경하여 초기 위치를 조정합니다. */
	width: 16px;
	height: 50px;
	background: white;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0;
}

#cancelRequest .refundBtn:hover:after {
	left: calc(100% + 25px);
	opacity: 0.8;
}

/*
#cancelRequest .refundBtn {
	margin-top: 20px;
	width: 100%;
	background-color: #f5d04295;
	border-radius: 13px;
	display: block;
	text-align: center;
	letter-spacing: 15px;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	padding: 15px;
}

#cancelRequest .refundBtn:hover {
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
}
*/