#chat {
	display: flex;
	width: 1200px;
	padding: 30px;
	align-items: flex-start;
}

#chat .chatRoomListContainer {
	width: 40%;
	height: 100%;
	border: 1px solid;
}

#chat .chatRoomListContainer .myPerson{
	font-weight: bold;
	padding-top: 5px;
	padding-left: 5px;
}

#chat .chatRoomContainer {
	margin: 5px;
	display: flex;
	align-items: center;
}
#chat .chatRoomContainer .chatRoom {
	width: 100%;
	height: 45px;
	cursor: pointer;
	display: flex;
	align-items: center;
}
#chat .chatRoomContainer .chatRoom .chatTitle{
	font-size: 22px;
	margin: 5px;
	width: 100%;
	cursor: pointer;
}
#chat .chatRoomContainer .chatRoom .newMessage{
	height: 20px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 10px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	background-color: orange;
	color: white;
}
#chat .chatRoomContainer .chatLeave{
	font-size: 14px;
	color: red;
	margin: 5px;
	padding: 4px;
	min-width: 50px;
	text-align: center;
	border: 1px solid;
	cursor: pointer;
}
#chat .chatRoomContainer .chatLeave:hover{
	border: 2px solid;
}

#chat .chatContainer {
	width: 59%;
	height: 700px;
	border: 1px solid;
	padding: 10px;
}

#chat .chatContainer .chatPerson {
	width: 95%;
	height: 30px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	font-size: 20px;
}

#chat .chatContainer .chatContent{
	height: 600px;
	padding: 5px;
	overflow-y: auto;
	background-color: #e9f9f9;
}

#chat .chatContainer .chatContent .chatMy{
	margin: 10px;
	padding: 5px;
	font-size: 16px;
}
#chat .chatContainer .chatContent .chatMy .chatUsername{
	display: flex;
	justify-content: flex-end;
}
#chat .chatContainer .chatContent .chatMy .chat{
	display: flex;
	justify-content: flex-end;
}
#chat .chatContainer .chatContent .chatMy .chat .chatMessage{
	padding: 8px;
	border-radius: 8px;
	background-color: rgb(255, 255, 170);
}

#chat .chatContainer .chatContent .chatOther{
	margin: 10px;
	padding: 5px;
	font-size: 16px;
}
#chat .chatContainer .chatContent .chatOther .chatUsername{
	display: flex;
	justify-content: flex-start;
}
#chat .chatContainer .chatContent .chatOther .chat{
	display: flex;
	justify-content: flex-start;
}
#chat .chatContainer .chatContent .chatOther .chatMessage{
	padding: 8px;
	border-radius: 8px;
	background-color: white;
}

#chat .chatContainer .chatContent .chatMessageTime{
	font-size: 10px;
	font-style: italic;
	color: rgb(120, 120, 120);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-width: 55px;
}

#chat .chatContainer .chatContent .chatMessage{
	font-size: 16px;
	margin-left: 4px;
	margin-right: 4px;
}

#chat .chatContainer .chatContent .chatUsername{
	font-size: 16px;
	font-weight: bold;
	margin: 4px;
}

#chat .chatContainer .chatMessageInputContainer{
	display: none;
	height: 22px;
	margin-top: 8px;
}
#chat .chatContainer .chatMessageInputContainer .chatMessageInput{
	width: 100%;
}

#chat .chatContainer .chatMessageInputContainer .chatMessageInputBtn{
	width: 60px;
	margin-left: 6px;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid;
	border-color: darkgray;
	border-radius: 6px;
}
#chat .chatContainer .chatMessageInputContainer .chatMessageInputBtn:hover{
	border: 2px solid;
	border-color: darkgray;
	border-radius: 6px;
}


