#chat {
	width: 1200px;
	padding: 30px;
}

#chat .partition {
	width: 0.1px;
	height: 750px;
	border-right: 2px solid #eee;
}

#chat hr{
    background:#eee;
    height: 2px ;
    border: 0;
    margin: 0;
}

#chat .chatContainer {
	display: flex;
	align-items: flex-start;
}

#chat .chatRoomListContainer {
	width: 342px;
	height: 100%;
}

#chat .chatRoomListContainer .myPerson {
	font-size: 22px;
	/*padding-top: 5px;*/
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
}

#chat .chatRoomContainer {
	max-height: 700px;
	overflow-y: auto;
	display: flex;
	align-items: center;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
	border-bottom: 1px solid #eee;
	margin-right: 5px;
}

#chat .chatRoomContainer::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
#chat .chatRoomContainer .chatRoom {
	width: 100%;
	height: 45px;
	cursor: pointer;
	display: flex;
	align-items: center;
}
#chat .chatRoomContainer .clicked {
	font-weight: bold;
	text-shadow: 2px 2px 3px #f5d042;
}
#chat .chatRoomContainer .chatRoom .chatTitle{
	font-size: 18px;
	margin: 5px;
	width: 100%;
	cursor: pointer;
}
#chat .chatRoomContainer .chatRoom .newMessage{
	height: 20px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 10px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	background-color: orange;
	color: white;
}
#chat .chatRoomContainer .chatLeave{
	font-size: 14px;
	color: red;
	margin: 5px;
	border-radius: 5px ;
	padding: 4px;
	min-width: 50px;
	text-align: center;
	cursor: pointer;
}
#chat .chatRoomContainer .chatLeave:hover{
	animation-duration: 1s;
	animation-name: slideRed;
	animation-fill-mode: forwards;
}

#chat .chatContentContainer {
	width: 855px;
	height: 700px;
}

#chat .chatContentContainer .chatPerson {
	width: 95%;
	height: 40px;
	line-height: 40px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	font-size: 22px;
}

#chat .chatContentContainer .chatContent{
	height: 600px;
	padding: 5px;
	margin: 10px 0px 10px 10px;
	overflow-y: auto;
	background-color: #e9f9f9;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

#chat .chatContentContainer .chatContent::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

#chat .chatContentContainer .chatContent .chatMy{
	margin: 10px;
	padding: 5px;
	font-size: 16px;
}
#chat .chatContentContainer .chatContent .chatMy .chatUsername{
	display: flex;
	flex-direction: row-reverse;
}
#chat .chatContentContainer .chatContent .chatMy .chat{
	display: flex;
	flex-direction: row-reverse;
}
#chat .chatContentContainer .chatContent .chatMy .chat .chatMessage{
	padding: 8px;
	border-radius: 8px;
	background-color: rgb(255, 255, 170);
}

#chat .chatContentContainer .chatContent .chatOther{
	margin: 10px;
	padding: 5px;
	font-size: 16px;
}
#chat .chatContentContainer .chatContent .chatOther .chatUsername{
	display: flex;
}
#chat .chatContentContainer .chatContent .chatOther .chat{
	display: flex;
}
#chat .chatContentContainer .chatContent .chatOther .chatMessage{
	padding: 8px;
	border-radius: 8px;
	background-color: white;
}

#chat .chatContentContainer .chatContent .chatMessageTime{
	font-size: 12px;
	font-style: italic;
	color: rgb(120, 120, 120);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	min-width: 55px;
}

#chat .chatContentContainer .chatContent .chatMessage{
	font-size: 16px;
	margin-left: 4px;
	margin-right: 4px;
}

#chat .chatContentContainer .chatContent .chatUsername{
	font-size: 16px;
	font-weight: bold;
	margin: 4px;
}

#chat .chatContentContainer .chatMessageInputContainer{
	display: none;
	height: 44px;
	margin-top: 8px;
}
#chat .chatContentContainer .chatMessageInputContainer .chatMessageInput{
	
	border-radius: 6px;
	margin-left: 10px;
	width: 100%;
	height: 50px;
	font-size: 16px;
}

#chat .chatContentContainer .chatMessageInputContainer .chatMessageInputBtn{
	width: 100px;
	height: 50px;
	margin-left: 6px;
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
	background-color: #f5d04295;
	border-radius: 6px;
}

#chat .chatContentContainer .chatMessageInputContainer .chatMessageInputBtn:hover{
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
}


