#chat {
	display: flex;
	width: 1200px;
	padding: 30px;
	align-items: flex-start;
}

#chat .chatRoomList {
	width: 40%;
	height: 100%;
	border: 1px solid;
}
#chat .chatRoom {
	margin: 5px;
	cursor: pointer;
}

#chat .chatView {
	width: 59%;
	height: 100%;
	border: 1px solid;
}

