#lecture-list {
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#lecture-list>a {
	text-decoration: none;
}

.lecturelist-search-area {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 0px;
}

.lecturelist-row {
	width: 600px;
}

.divider-x {
	background-color: rgb(206, 212, 218);
}

.search_form_submit_area {
	width: fit-content;
	margin: 20px auto;
}

.form_title {
	width: 150px;
	height: 30px;
}

/* =======================드롭다운======================= */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.column {
	float: left;
	width: 50%;
	/* 2열 중 하나의 너비 설정 */
}

.column div {
	padding: 12px;
	text-decoration: none;
	display: block;
}

.column::after {
	content: '';
	clear: both;
	display: table;
}

/* =======================드롭다운======================= */

/* =======================달력======================= */
td {
	width: 20px;
	height: 20px;
}

.Calendar-list {
	text-align: center;
	margin: 20px auto;
	height: 306px;
}

.Calendar-list>thead>tr:first-child>td {
	font-size: 16px;
	font-weight: bold;
}

.Calendar-list>thead>tr:last-child>td {
	font-weight: 600;
}

.Calendar-list>tbody>tr>td>p {
	height: 35px;
	width: 35px;
	border-radius: 35px;
	transition-duration: 0.2s;
	line-height: 35px;
	margin: 2.5px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
}

.today {
	background-color: #f5d042;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.futureDay {
	background-color: #ffffff;
	cursor: pointer;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
	background: #0a174e;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

/* =======================달력======================= */

/* =======================강의======================= */
.lecturelist-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1200px;
	height: fit-content;
	justify-content: left;
	margin: 0 auto;

}

.lecture-item-a {
	position: relative;
	box-sizing: border-box;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #fefefe;

	border-radius: 6px;
}

.lecture-item {
	position: relative;
	box-sizing: border-box;
	height: 330px;
	border-radius: 5px;
	margin-bottom: 30px;
	border: 0.5px solid #dddddd;
}

.lecture-item-picture-area {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff1f2;
	border-radius: 5px;
	width: 100%;
	height: 200px;
}

.lecture-item-picture {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 0;
}

.lecture-item-address {
	position: absolute;
	bottom: 8px;
	left: 8px;
	z-index: 1;
	font-size: small;
	font-weight: 600;
	color: #000;
	height: fit-content;
	width: fit-content;
	background-color: rgba(255, 255, 255, 0.4);
	/*20% 불투명도*/
	padding: 1px 6px;
	border-radius: 5px;
}

.lecture-item-category {
	position: absolute;
	box-sizing: border-box;
	top: 208px;
	left: 8px;
	border: 1px solid #ffd3d5;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	padding: 2px 14px;
	font-size: 14px;
	background-color: #fff1f2;
	color: #666666;
}

.lecture-item-title {
	position: absolute;
	box-sizing: border-box;
	top: 242px;
	left: 0px;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	padding: 0 8px;
	color: #333333;
}

.lecture-item-provider {
	position: absolute;
	bottom: 8px;
	left: 8px;
	font-size: 15px;
	color: #333333;
}

.lecture-item-price {
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: #333333;
}

/* =======================강의======================= */

/* =======================페이징======================= */
.lecturelist-pagenation {
	width: fit-content;
	text-align: center;
}

.pagenation-element {
	display: inline-flex;
	justify-content: center;
	/* 수평 가운데 정렬 */
	align-items: center;
	/* 수직 가운데 정렬 */
	text-decoration: none;
	color: #333333;
	border: 1px solid #666666;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	font-size: 15px;
}

/* =======================페이징======================= */


/*디테일*/

#lecture-detail {
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	width: 1200px;
}

.detail-main-info {
	display: flex;
	height: 100%;
	background-color: #f5d042;
}

.detail-column1 {
	box-sizing: border-box;
	width: 63%;
	background-color: aqua;
	padding: 16px 20px;
}

.detail-main-photo {
	box-sizing: border-box;
	width: 100%;
	height: 410PX;
	background-color: indianred;
	margin-bottom: 16px;
}

.detail-sub-photo {
	box-sizing: border-box;
	background-color: indianred;
	width: 100%;
	height: 100px;
	display: flex;
	float: left;
}

.temp-photo {
	box-sizing: border-box;
	width: 20%;
	height: 80%;
	background-color: darkgreen;
	margin: 2% 1%;



}

.detail-column2 {
	width: 37%;
	box-sizing: border-box;
	background-color: #fefefe;
	position: relative;
}

.detail-lecture-title {
	font-size: 28px;
	font-family: 'Noto Sans KR', sans-serif;
	width: 100%;
	margin-top: 10px;
	padding: 0 16px;

}

.datail-review-info {
	display: flex;
}

.detail-review-score {}

.detail-button-set {
}

.Calendar-detail {
	text-align: center;
	margin: 20px auto;
	height: 306px;
	border: 1px solid #666666;
	border-radius: 5px;
}

/* ============디테일 달력========== */
td {
	width: 30px;
	height: 20px;
}

.Calendar-detail {
	text-align: center;
	margin: 20px auto;
	height: 306px;
}

.Calendar-detail>thead>tr:first-child>td {
	font-size: 16px;
	font-weight: bold;
}

.Calendar-detail>thead>tr:last-child>td {
	font-weight: 600;
}

.Calendar-detail>tbody>tr>td>p {
	height: 35px;
	width: 35px;
	border-radius: 35px;
	transition-duration: 0.2s;
	line-height: 35px;
	margin: 2.5px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
}

.today {
	background-color: #f5d042;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.futureDay {
	background-color: #ffffff;
	cursor: pointer;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
	background: #0a174e;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}