#lectureList {
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#lectureList>a {
	text-decoration: none;
}

#lectureList  .lectureListSearchArea {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 0px;
}


#lectureList .lectureListSearchArea .inputDiv {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

#lectureList .lectureListSearchArea .inputDiv .inputTitle{
	font-size: 20px;
	font-weight: 700;
	width: 80px;
}

#lectureList .lectureListSearchArea .inputDiv .textDiv {
  position: relative;
  margin-left: 20px;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

#lectureList .lectureListSearchArea .inputDiv .textDiv Input[type="text"]{
  width: 240px;
  height: 20px;
  border: none;
  text-align: left;
  margin-left: 10px;
  overflow: auto;
  font-size: 14px;
}

#lectureList .lectureListSearchArea .inputDiv .textDiv Input[type="text"]:focus{
  outline: none;
  width: 240px;
  text-align: left;
 /*margin-left: 10px;*/
}

.lectureListRow {
	width: 600px;
}

.dividerX {
	background-color: rgb(206, 212, 218);
}

.formTitle {
	width: 150px;
	height: 30px;
}

/* =======================드롭다운======================= */
.dropdownContent {
	margin-left: 130px;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.column {
	float: left;
	width: 50%;
	/* 2열 중 하나의 너비 설정 */
}

.column div {
	padding: 12px;
	text-decoration: none;
	display: block;
}

.column::after {
	content: '';
	clear: both;
	display: table;
}

.column.ca{
	float: left;
	width: 100%;
	/* 2열 중 하나의 너비 설정 */
}

.dropdownCategory {
	margin-left: 130px;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* =======================드롭다운======================= */

/* =======================달력======================= */
td {
	width: 20px;
	height: 20px;
}

.calendarList {
	text-align: center;
	margin: 20px auto;
	height: 306px;
}

.calendarList>thead>tr:first-child>td {
	font-size: 16px;
	font-weight: bold;
}

.calendarList>thead>tr:last-child>td {
	font-weight: 600;
}

.calendarList>tbody>tr>td>p {
	height: 35px;
	width: 35px;
	border-radius: 35px;
	transition-duration: 0.2s;
	line-height: 35px;
	margin: 2.5px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
}

.today {
	background-color: #f5d042;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.futureDay {
	background-color: #ffffff;
	cursor: pointer;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
	background: #0a174e;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

/* =======================달력======================= */

/* =======================검색 버튼======================= */


.searchFormSubmitArea {
	width: fit-content;
	margin: 20px auto 20px auto;
}

#lectureList .searchFormSubmitArea .searchFormReset{
  	width: 200px;
	font-size: 15px;
	height: 50px;
	color: #000;
	border : 1px solid #999999;
	border-radius: 13px;
	padding: 10px;
	background-color: #fff;
}

#lectureList .searchFormSubmitArea .searchFormReset:hover{
	animation-duration: 1s;
	animation-name: slideWhite;
	animation-fill-mode: forwards;
}

#lectureList .searchFormSubmitArea .searchFormSubmit{
	margin-left: 50px;
  	width: 200px;
	font-size: 15px;
	height: 50px;
	color: #fff;
	border-radius: 13px;
	padding: 10px;
	background-color: #f5d04295;
}

#lectureList .searchFormSubmitArea .searchFormSubmit:hover{
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
}

/* =======================검색 버튼======================= */

/* =======================강의======================= */
.lectureListList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1200px;
	height: fit-content;
	justify-content: left;
	margin: 0 auto;
}

.lectureItemA {
	position: relative;
	box-sizing: border-box;
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #fefefe;

	border-radius: 6px;
}

.lectureItem {
	position: relative;
	box-sizing: border-box;
	height: 330px;
	border-radius: 5px;
	margin-bottom: 30px;
	border: 0.5px solid #dddddd;
}

.lectureItemPictureArea {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff1f2;
	border-radius: 5px;
	width: 100%;
	height: 200px;
}

.lectureItemPicture {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: 0;
}

.lectureItemAddress {
	position: absolute;
	bottom: 8px;
	left: 8px;
	z-index: 1;
	font-size: small;
	font-weight: 600;
	color: #000;
	height: fit-content;
	width: fit-content;
	background-color: rgba(255, 255, 255, 0.4);
	/*20% 불투명도*/
	padding: 1px 6px;
	border-radius: 5px;
}

.lectureItemCategory {
	position: absolute;
	box-sizing: border-box;
	top: 208px;
	left: 8px;
	border: 1px solid #ffd3d5;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	padding: 2px 14px;
	font-size: 14px;
	background-color: #fff1f2;
	color: #666666;
}

.lectureItemTitle {
	position: absolute;
	box-sizing: border-box;
	top: 242px;
	left: 0px;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	padding: 0 8px;
	color: #333333;
}

.lectureItemProvider {
	position: absolute;
	bottom: 8px;
	left: 8px;
	font-size: 15px;
	color: #333333;
}

.lectureItemPrice {
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: #333333;
}

/* =======================강의======================= */

/* =======================페이징======================= */
.lectureListPagination {
	width: fit-content;
	text-align: center;
}

.lectureListPaginationArea {
	display: flex;
	justify-content: center;
	margin: 30px 0 50px 0;
}

.paginationElement {
	display: inline-flex;
	justify-content: center;
	/* 수평 가운데 정렬 */
	align-items: center;
	/* 수직 가운데 정렬 */
	text-decoration: none;
	color: #333333;
	border: 1px solid #666666;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	font-size: 15px;
}

/* ==================================================== */

/*디테일 페이지*/

#lectureDetail {
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	width: 1200px;
}

.detailMainInfo {
	display: flex;
	height: 100%;
}

.detailColumn1 {
	box-sizing: border-box;
	width: 63%;
	background-color: papayawhip;
	padding: 16px 20px;
}

.detailMainPhoto {
	box-sizing: border-box;
	max-width: 100%;
	height: fit-content;
	background-color: indianred;
	margin-bottom: 16px;
}

.detailMainPhoto>img {
	max-width: 100%;
}

.detailSubPhoto {
	box-sizing: border-box;
	background-color: indianred;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	padding: 4px 0;
}

.tempPhoto {
	box-sizing: border-box;
	width: 20%;
	height: 80%;
	background-color: darkgreen;
	margin: 2% 1%;
}

.detailColumn2 {
	display: flex;
	justify-content: center;
	width: 37%;
	box-sizing: border-box;
	background-color: #fefefe;
	position: relative;
	height: fit-content;
}

.detailLectureTitle {
	font-size: 28px;
	font-family: 'Noto Sans KR', sans-serif;
	width: 100%;
	margin-top: 10px;
	padding: 0 16px;
}



.detailButtonSet {
	margin: 0;
	width: fit-content;
	height: fit-content;
}

/* ============디테일 달력========== */
td {
	width: 30px;
	height: 20px;
}

.calendarDetail {
	text-align: center;
	margin: 20px auto;
	height: 306px;
	border: 1px solid #666666;
	border-radius: 5px;
	padding: 0 12px;
}

.calendarDetail>thead>tr:first-child>td {
	font-size: 16px;
	font-weight: bold;
}

.calendarDetail>thead>tr:last-child>td {
	font-weight: 600;
}

.calendarDetail>tbody>tr>td>p {
	height: 35px;
	width: 45px;
	border-radius: 35px;
	transition-duration: 0.2s;
	line-height: 35px;
	margin: 2.5px;
	display: block;
	text-align: center;
}

.pastDay {
	color: lightgray;
}

.today {
	background-color: #f5d042;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

.futureDay {
	background-color: #ffffff;
	cursor: pointer;
}

.futureDay:hover {
	background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
	background: #0a174e;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
}

/* ================================== */

.detailArea {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #999999;
	height: fit-content;
}

.detailInfo {
	width: 100%;
	border: 1px solid #dddddd;
	height: 400px;
}

.detailASet>a {
	display: inline-block;
	width: fit-content;
	height: fit-content;
	padding: 6px;
	border: 1px solid #dddddd;
}

.reserveArea {
	display: none;
	box-sizing: border-box;
	width: 404px;
	margin: 0 auto;
	border: 1px solid #666666;
	border-radius: 5px;
	padding: 6px;
}

.reserveList {
	box-sizing: border-box;
	border: 1px solid #666666;
	border-radius: 5px;
	height: 130px;
	display: flex;
	padding: 3px;
	justify-content: left;
}

.reserveSession {
	box-sizing: border-box;
	width: 30%;
	height: 100%;
	border: 1px solid #666666;
	border-radius: 5px;
	margin-right: 8px;
}

.paymentButtonSet {
	width: 404px;
	margin: 0 auto;
}

.paymentButtonSet>button {
	width: 49.5%;
	height: 30px;
	border: 1px solid #666666;
	border-radius: 5px;
}

.detailPrice {
	width: 100%;
	text-align: right;
}

.enroll {}

.column2Container {
	box-sizing: border-box;
	width: 420px;
	border: 1px solid #666666;
	border-radius: 5px;
}

/* 리뷰 =================================== */
#lectureDetail .detailInfo.review{
	display: flex;
	flex-direction: column;
}
#lectureDetail .detailInfo.review .reviewContainer{
	padding: 6px;
	border-bottom: 0.5px solid #999999;
}
#lectureDetail .detailInfo.review .reviewTitle{
	display: flex;
	flex-direction: row;
}
#lectureDetail .detailInfo.review .reviewUser{
	padding-left: 5px;
	padding-right: 10px;
}
#lectureDetail .detailInfo.review .reviewCreatedAt{
	padding-left: 10px;
	font-size: 12px;
	font-style: italic;
	color: rgb(120, 120, 120);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#lectureDetail .reviewInputContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* 별점 ================ */
#lectureDetail .reviewInputContainer .reviewInputTitle{
	display: flex;
}
#lectureDetail .reviewInputContainer .reviewInputBody{
	display: flex;
}
#lectureDetail .reviewScore {
  color: rgba(0, 0, 0, 0.2); 
  position: relative;
  unicode-bidi: bidi-override;
  width: auto;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}
 
#lectureDetail .reviewScoreFill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
 
#lectureDetail .reviewScoreBase {
  z-index: 0;
  padding: 0;
  
}

/* 별점 입력 */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2rem;
  line-height: 2rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}


/*
	==========================
	==== 강의 등록 페이지 ====
	==========================
*/

#lectureRegistration {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

#lectureRegistration>* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

#registrationForm {
	margin-top: 20px;
}

#registrationForm>input {
	display: block;
}

#registrationForm>input {
	font-family: 'Noto Sans KR', sans-serif;
}

#regAddressSearchLayer {
	display: none;
	position: fixed;
	overflow: hidden;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

#regAddressSearchLayer>img {
	cursor: pointer;
	position: absolute;
	right: -3px;
	top: -3px;
	z-index: 1;
}