form {
	overflow: hidden;
}

#payRequest {
	width: 1200px;
}

#payRequest .formContent {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

#payRequest .contentLeft {
	width: 58%;
}

#payRequest .contentRight {
	width: 35%;
}

#payRequest .sectionBox {
	border-bottom: 1px solid #d3d3d3;
	padding: 24px 0;
}

#payRequest .sectionBox:last-child {
	border-bottom: none;
}

#payRequest .sectionBox-area {
	display: flex;
}

#payRequest .sectionBox-area img {
	margin-right: 30px;
	border-radius: 7px;
}

#payRequest .row {
	display: flex;
}

#payRequest .row p:first-of-type {
	margin-right: 30px;
}

#payRequest .payInfo {
	border: 1px solid #d3d3d3;
	border-radius: 12px;
	padding: 24px;
}

#payRequest .payType {
	display: flex;
	justify-content: space-between;
}

#payRequest .payTypeBtn {
	border: 1px solid #d3d3d3;
	border-radius: 7px;
	padding: 10px 30px;
}

#payRequest .amount {
	display: flex;
	justify-content: space-between;
}

#payRequest .classAmount {
	margin-bottom: 30px;
}

#payRequest .sum {
	border-top: 1px solid #d3d3d3;
	margin: 20px auto;
}

#payRequest h2 {
	margin-top: 0;
}

#payRequest .btn {
	margin: 21px 0;
}

#payRequest .requestBtn {
	background-color: #ffd3d5;
	padding: 10px;
	border-radius: 7px;
	display: block;
	text-align: center;
	letter-spacing: 15px;
	font-weight: 600;
}

#payRequest input[type="text"] {
    border: none;
    font-size: 16px;
}

#payRequest input[type="text"]:focus {
    outline: none;
}

#payRequest .reserveItem {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#payRequest .amount input {
	text-align: end;
}
