html, body {
	height: 100%;
	width: 1200px;
	margin: 0 auto;
}

form {
	overflow: hidden;
}

#payRequest .formContent {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

#payRequest .contentLeft {
	width: 58%;
}

#payRequest .contentRight {
	width: 35%;
}

#payRequest .sectionBox {
	border-bottom: 1px solid #d3d3d3;
	padding: 24px 0;
}

#payRequest .sectionBox-area {
	display: flex;
}

#payRequest .sectionBox-area img {
	margin-right: 30px;
	border-radius: 7px;
}

#payRequest .row {
	display: flex;
}

#payRequest .row p:first-of-type {
	margin-right: 30px;
}

#payRequest .payInfo {
	border: 1px solid #d3d3d3;
	border-radius: 12px;
	padding: 24px;
}

#payRequest .payType {
	display: flex;
	justify-content: space-between;
}

#payRequest .payTypeBtn {
	border: 1px solid #d3d3d3;
	border-radius: 7px;
	padding: 10px 30px;
}

#payRequest .amount {
	display: flex;
	justify-content: space-between;
}

#payRequest .sum {
	border-top: 1px solid #d3d3d3;
}

#payRequest h2 {
	margin-top: 0;
}

#payRequest .btn {
	margin: 21px 0;
}

#payRequest .requestBtn {
	background-color: rgb(254, 214, 214);
	padding: 10px;
	border-radius: 7px;
}
