form {
	overflow: hidden;
}

#payRequest {
	width: 1080px;
}

#payRequest .formContent {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

#payRequest .contentLeft {
	width: 58%;
}

#payRequest .contentRight {
	width: 35%;
}

#payRequest .sectionBox {
	border-bottom: 1px solid #d3d3d3;
	padding: 24px 0;
}

#payRequest .sectionBox:last-child {
	border-bottom: none;
}

#payRequest .sectionBox-area {
	display: flex;
}

#payRequest .sectionBox-area img {
	margin-right: 30px;
	border-radius: 7px;
}

#payRequest .row {
	display: flex;
}

#payRequest .row p:first-of-type {
	margin-right: 30px;
}

#payRequest .payInfo {
	border: 1px solid #d3d3d3;
	border-radius: 12px;
	padding: 24px;
}

#payRequest .payType {
	display: flex;
	justify-content: space-between;
}

#payRequest .payTypeBtn {
	border: 1px solid #d3d3d3;
	border-radius: 7px;
	padding: 10px 30px;
}

#payRequest .amount {
	display: flex;
	justify-content: space-between;
}

#payRequest .classAmount {
	margin-bottom: 30px;
}

#payRequest .sum {
	border-top: 1px solid #d3d3d3;
	margin: 20px auto;
}

#payRequest h2 {
	margin-top: 0;
}

/*======================= 결제하기 버튼 start =======================*/

#payRequest .requestBtn {
	display: block;
	background-color: #f5d042;
	border-color: #f5d042;
	border-radius: 13px;
	text-align: center;
	letter-spacing: 15px;
	padding: 15px;
}

#payRequest .requestBtn:hover {
	transform: scale(1.1);
	color: black;
}

#payRequest .requestBtn:after {
	content: '';
	position: absolute;
	top: calc(50% - 25px);
	left: 0;
	/*left 값을 0으로 변경하여 초기 위치를 조정합니다.*/ 
	width: 16px;
	height: 50px;
	background: white;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0;
}

#payRequest .requestBtn:hover:after {
	left: calc(100% + 25px);
	opacity: 0.8;
}
/*
#payRequest .requestBtn {
	background-color: #f5d04295;
	border-radius: 13px;
	display: block;
	text-align: center;
	letter-spacing: 15px;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	padding: 15px;
}

#payRequest .requestBtn:hover {
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
}
*/
/*======================= 결제하기 버튼 end =======================*/

#payRequest input[type="text"] {
    border: none;
    font-size: 16px;
    padding: 0;
}

#payRequest input[type="text"]:focus {
    outline: none;
}

#payRequest .amount input {
	text-align: end;
}

/*======================= 예약 클래스 정보 start =======================*/
#payRequest .reserveItem {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#payRequest .reserveItem p {
	margin: 0;
}

#payRequest .reserveItem .payRequsetTitle {
	font-weight: bold;
	font-size: 17px;
}
/*======================= 예약 클래스 정보 end =======================*/


/*======================= 확인 사항 start =======================*/
#payRequest .note {
	border: 1px solid #d3d3d3;
	border-radius: 12px;
	padding: 5px 20px;
}

#payRequest .note strong {
	font-size: 17px;
}
/*======================= 확인 사항 end =======================*/

