#reserveList {
	width: 1080px;
}
#reserveList a:hover {
	color: black;
}
#reserveList .content {
	/* display: flex; */
	/* justify-content: space-between; */
	margin-top: 50px;
	/*height: 700px;*/
}
#reserveList .listBox {
	border: 1px solid #d3d3d3;
	border-radius: 12px;
	padding: 24px;
	margin-bottom: 20px;
}
#reserveList .listBox h3 {
	margin-top: 0;
}
#reserveList .listItem {
	display: flex;
}
#reserveList .listContent {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#reserveList .listContent h4 {
	margin: 0;
}
#reserveList .listContent p {
	margin: 0;
}
#reserveList .listBtnBox {
	display: flex;
	justify-content: space-between;
}
#reserveList .listBtn {
	width: 49%;
	border-radius: 7px;
	padding: 7px 0;
	margin: 10px 0 0;
	background-color: #e7e7e7;
}
#reserveList .listBtn:hover {
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
}
#reserveList .search {
	width: 70%;
	margin: 0 auto 20px;
	border: 1px solid #d3d3d3;
	border-radius: 20px;
}
#reserveList .searchSelect {
	border: none;
	width: 25%;
	margin-left: 20px;
	padding: 10px;
}
#reserveList .search input {
	border: none;
	margin-left: 20px;
	width: 60%;
	padding: 10px;
}
#reserveList .imgContainer {
	width: 120px;
	height: 120px;
	margin-right: 30px;
}
#reserveList .imgContainer img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}
#reserveList .pagination {
	display: flex;
	justify-content: center;
	margin: 30px 0 50px 0;
}
#reserveList .page-item {
	display: inline-flex;
	justify-content: center;
	/* 수평 가운데 정렬 */
	align-items: center;
	/* 수직 가운데 정렬 */
	text-decoration: none;
	color: #333333;
	height: 36px;
	width: 36px;
	border-radius: 18px;
	font-size: 15px;
	margin: 3px;
}
#reserveList .clicked {
	background-color: #f5d042;
}