
html, body{
	margin:0;
	padding:0;
	min-height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

body{
  padding-top: 80px;
  height: 100%;
}

a {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    margin: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}
  
a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: tomato;
  cursor: pointer;
}

button {
  background: inherit ;
  border:none; 
  box-shadow:none; 
  border-radius:0; 
  padding:0; 
  overflow:visible; 
  cursor:pointer;
  font-family: 'Noto Sans KR', sans-serif;
}
input{
	
  font-family: 'Noto Sans KR', sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
 	z-index: 100;
 	background-color: #fff;
	box-shadow: 0px 1px 1px 1px #f0f0f0;
	display: flex;
	justify-content: center;
}

header .headerWrap{
	display: flex;
	height:60px;
	width: 1200px;
 	align-items:center;
}

header .logo{
	padding-top: 5px;
	height:40px;
	margin-right: 20px;
}

header .topMenuRight{
	display: flex;
}


header .topMenuRight li {
    padding: 0px 20px; /* 내용과 선 사이의 간격 조절 (선택 사항) */
}


header .topMenuLeft{
	display: flex;
	margin-left: auto;
}

header .topMenuLeft li {
    margin: 0px 10px; /* 내용과 선 사이의 간격 조절 (선택 사항) */
}

main {
	flex: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .mainColumn{
	width:1200px;
	flex-direction: column;
	padding: 0;
	height: 100%;       
	display: flex; 
	align-items: center;
	justify-content: center;
}

footer{
}

footer .footerWrap{
	display: flex;
	font-size: 12px;
    height: 130px;
    background-color: #eee;
	justify-content: center;
	align-items: center;
	margin: auto;
}


footer img{
	width: 180px;
	margin-right: 20px;
}


footer .companyName{
	font-weight: 700;	
}

.yellowButton{
	display: flex;
	font-size: 14px;
	width: 110px;
	border-radius: 15px;
	height: 30px;
	background-color: #f5d04295;
	justify-content: center;
	align-items: center;
}

.yellowButton:hover{
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
	color: #000;
}

.redButton{
	display: flex;
	font-size: 14px;
	width: 110px;
	border-radius: 15px;
	height: 30px;
	justify-content: center;
	align-items: center;
}

.redButton:hover{
	animation-duration: 1s;
	animation-name: slideRed;
	animation-fill-mode: forwards;
	color: #000;
}

@keyframes slideYellow {
  from {
	background-color: #f5d04295;
  }

  to {
	background-color: #f5d042;
  }
}

@keyframes slideRed {
  from {
	background-color: #ffffff;
  }

  to {
	background-color: #ff000098;
	color: #fff;
  }
}

@keyframes slideWhite {
  from {
	background-color: #fff;
  }

  to {
	background-color: #eee;
  }
}

/*
 :hover{
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
}

 :hover{
	animation-duration: 1s;
	animation-name: slideWhite;
	animation-fill-mode: forwards;
}
*/