
html, body{
	margin:0;
	padding:0;
	min-height: 100%;
}

body{
  padding-top: 75px;
}
a {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    margin: 20px;
}
ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}
  
a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: tomato;
  cursor: pointer;
}

button {

  background: inherit ;
  border:none; 
  box-shadow:none; 
  border-radius:0; 
  padding:0; 
  overflow:visible; 
  cursor:pointer

}

header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
 	background-color: #88888840;
}

header .headerWrap{
	display: flex;
	height:60px;
    margin-left: 15%;
    margin-right: 15%;
 	align-items:center;
}

header .logo{
	height:45px;
	margin-right: 20px;
}

header .topMenuRight{
	display: flex;
}


header .topMenuRight li {
    border-right: 1px solid #000; /* 모든 <li> 요소 사이에 선 그리기 */
    padding: 0px 20px; /* 내용과 선 사이의 간격 조절 (선택 사항) */
}

header .topMenuRight li:last-child {
    border-right: none; /* 마지막 <li> 요소의 border-bottom 제거 */
}

header .topMenuLeft{
	display: flex;
	margin-left: auto;
}

header .topMenuLeft li {
    margin: 0px 10px; /* 내용과 선 사이의 간격 조절 (선택 사항) */
}

main {
	flex: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .mainColumn{
	width:1200px;
	flex-direction: column;
	padding: 0;
	height: 100%;       
	display: flex; 
	align-items: center;
	justify-content: center;
}

footer{
}

footer .footerWrap{
	display: flex;
	font-size: 12px;
    height: 130px;
    background-color: #eee;
	justify-content: center;
	align-items: center;
	margin: auto;
}


footer img{
	width: 180px;
	margin-right: 20px;
}


footer .companyName{
	font-weight: 700;	
}

