#userPage form{
	width: 400px;
}

#userPage .flexDiv{
  	width: 400px;
	display: flex;
}

#userPage .emailCheck{
	display: none;
	margin-top: 20px;
}

#userPage .narrowDiv{
  width: 280px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

#userPage .narrowDiv Input {
  width: 220px;
  height: 40px;
  border: none;
  -webkit-appearance: none;
  text-align: left;
  margin-left: 10px;
  overflow: auto;
  font-size: 16px;
}

#userPage .narrowDiv Input:focus {
  outline: none;
  width: 220px;
  text-align: left;
  margin-left: 10px;
}

#userPage .flexDiv input[type=button]{
	margin-left: 20px;
  	width: 100px;
	font-size: 14px;
	color: #fff;
	border: none;
	border-radius: 13px;
	padding: 10px;
	background-color: #f5d04295;
}


#userPage .flexDiv input[type=button]:hover{
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
}

#userPage .wideDiv {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
}

#userPage  .wideDiv Input {
  width: 340px;
  height: 40px;
  border: none;
  -webkit-appearance: none;
  text-align: left;
  margin-left: 10px;
  overflow: auto;
  font-size: 16px;
}


#userPage .wideDiv Input:focus {
  outline: none;
  width: 340px;
  text-align: left;
  margin-left: 10px;
}

#userPage from div i {
  font-size: 16px;
}

#userPage .wideDiv .telbox{
  width: 340px;
  margin-left: 10px;
}

#userPage .wideDiv .telbox .tel{
	width: 90px;
	margin : 0px;
	text-align: center;
}

#userPage .wideDiv .telbox .tel:focus{
	width: 90px;
	margin : 0px;
}

#userPage .submitBtn{
  	width: 400px;
	font-size: 17px;
	height: 50px;
	color: #fff;
	border: none;
	border-radius: 13px;
	padding: 10px;
	background-color: #f5d04295;
	margin-bottom: 30px;
}

#userPage #resendNumber{
	color: #0000ff80;
	width: 150px;
}

#userPage #resendNumber:hover{
	cursor:pointer;
	color: #0000ff;
	width: 150px;
}

#userPage .submitBtn:hover{
	animation-duration: 1s;
	animation-name: slideYellow;
	animation-fill-mode: forwards;
}
