#lectureDetail table {
	width: 800px;
	background-color: #fff;
	border-collapse: collapse;
	text-align: center;
}

#lectureDetail table, th, td {
	border: 1px solid #d3d3d3;
}

#lectureDetail th, td {
	height: 30px;
}

#lectureDetail th {
	background-color: #fff1f2;
}

#lectureDetail .refundBtn {
	background-color: #dc3545;
	width: 50px;
	height: 24px;
	border-radius: 7px;
	color: #fff;
}