#lectureList table {
	width: 800px;
	background-color: #fff;
	border-collapse: collapse;
	text-align: center;
}

#lectureList table, th, td {
	border: 1px solid #d3d3d3;
}

#lectureList th, td {
	height: 30px;
}

#lectureList th {
	background-color: #fff1f2;
}