
html, body{
	margin:0;
	padding:0;
}

a {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    margin: 20px;
}
ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  all: unset;
}

a:link {
  text-decoration: none;
  color: #3f464d;
}
  
a:visited {
  text-decoration: none;
  color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
  text-decoration: none;
  color: tomato;
  cursor: pointer;
}

button {

  background: inherit ;
  border:none; 
  box-shadow:none; 
  border-radius:0; 
  padding:0; 
  overflow:visible; 
  cursor:pointer

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#businessPage{
	display: flex;
}

.sideBar{
	width: 200px;
	background-color: #353535;
	height: 100%;
}

.logo{
	padding: 10px 20px;
	height: 25px;
}

.sideBar ul {
	border-top: 0.5px solid #888;
}

.sideBar ul li{
	display: flex;
	align-items: center;
}

.sideBar ul a{
	display: flex;
	padding: 10px 20px;	
	color: #eee;
	font-style: normal;
	font-weight: 700;
	align-items: center;
	width: 200px;
}

.sideBar ul a:hover{
	background-color: #00f;
	color: #eee;
}

.sideBar ul a i{
	margin-right: 15px;
	width: 20px;
	display: block;
	text-align: center;
}

main {
display: flex;
flex-direction: column;
}

main .mainTop{
	width: 100%;
	height: 49px;
}

main .title{
	margin-top : 14px;
	margin-left: 30px;
	height: 29px;
	font-weight: 700;
}

main .mainColumn{
	width:1200px;
	padding: 0;     
	align-items: center;
	justify-content: center;
	background-color: #ccc;
	flex: 1;
	font-size: 13px;
}

main .mainColumn .mainRow{
	display: flex;	
}

main .mainColumn .mainRow .mainNarrowComponent{
	margin: 20px 10px 10px 20px;
	font-size: 12px;
	width:530px;
	padding: 20px;
	background-color: #fff;
}

main .mainRow .mainComponentTop{
	margin-bottom: 15px;
}

main .mainRow .mainComponentTop .componentTitle{
	font-weight: 900;
	font-size: 16px;
}

main .mainRow .mainComponentTop .showMore{
	float:right;
	color: #aaa;
	margin-bottom: 10px;
}

main .mainColumn .mainRow table{
  width: 530px;
  border-collapse: collapse; 

}

main .mainRow thead{
    border-bottom: 1px solid #353535;
}

main .mainRow th{
    padding-bottom: 4px;
}


main .mainRow td{
    padding-top: 4px;
	text-align: center;
}

main .mainColumn .mainRow .mainLectureComponent{
	margin: 20px 10px 10px 20px;
	width:530px;
	padding: 20px;
	background-color: #fff;
}

/*list페이지*/
main .ListColumn{
	margin: 20px;
	width: 1100px;
	background-color: #fff;
	padding : 30px;
}

main .ListColumn table{
	width: 1100px;
  	border-collapse: collapse; 
}

main .ListColumn thead tr{
    border-bottom: 1px solid #353535;
	line-height: 50px;  
}

main .ListColumn tbody tr{
    border-bottom: 1px solid #ccc;
	line-height: 50px;  
}

main .ListColumn tr{
	font-size: 14px;
	line-height: 50px;  
}

main .ListColumn .pagination{
	margin-top:20px;
	display: flex;
	justify-content: center;
}

main .ListColumn .pagination li{
	margin: 0px 5px;
	font-size: 15px;
}

main .ListColumn .pagination label{
	color: #ccf;
}

main .ListColumn .inputBtn{
	margin-top: 20px;
	font-size: 15px;
	color: #fff;
	border: none;
	border-radius: 13px;
	padding: 10px;
	background-color: #ccc;
}
main .ListColumn .pagination{
	display: flex;
	justify-content: center;
}

/*detail 페이지*/
main .DetailColumn {
	margin: 20px;
	width: 1100px;
	background-color: #fff;
	padding : 30px;
}

main .DetailColumn table{
  	border-collapse: collapse; 
  	border-spacing:0px;
}

main .DetailColumn tr{
	
	font-size: 14px;
	line-height: 50px;  
}


main .DetailColumn td:first-child{
	font-weight: 400;
	color: #aaa;
  	vertical-align : top;
	align-items: start;
	width: 200px;
  	border-top : 1px solid #000;
  	border-bottom : 1px solid #000;	
}

main .DetailColumn td:last-child{
	width: 900px;
	padding-left : 30px;
  	border-top : 1px solid #000;
  	border-left : 1px solid #000;
  	border-bottom : 1px solid #000;
}

main .DetailColumn .tel{
	width: 40px;
	margin : 0px;
}

main .DetailColumn .tel:focus{
	width: 40px;
	margin : 0px;
}


main .DetailColumn img {
	max-width: 700px;
}

main .DetailColumn .hidden{
	display: none;
}


main .DetailColumn .inputBtn{
	margin-top: 20px;
	font-size: 15px;
	color: #fff;
	border: none;
	border-radius: 13px;
	padding: 10px;
	background-color: #ccc;
}

